<% content_for :header do %>
	<h1><%= @online_book.title %></h1>
	<h2><%= @online_page[:designation] %> (<%= @online_page[:page_side] %>)</h2>
	[Leave Feedback]
<% end %>

<% content_for :footer do %>
	[about this collection][catalog record]
<% end %>

	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">



	<div>
		<a href="/online_books/zoom_page/<%= @online_book.designation %>/<%= @online_page[:designation] %>">
			<img src="<%= @online_page[:derivative_url] %>" height="<%= @online_page[:derivative_height] %>" width="<%= @online_page[:derivative_width] %>" />
		</a>
		<div id="page_transcript">
			<%= @online_page[:transcript] %>
		</div>
	</div>


